@font-face {
  src: url(font/NewShape-Book.ttf);
  font-family: FLCorp-Docs;
}

body{  
  background: rgb(30, 30, 30);
  overflow-x: hidden;
  max-width: 1920px;
}

h5{
  color: white;
  font-family: FLCorp-Docs;
  font-size: 25px;
  text-align: center;
}

a{
  color: red;
}

b{
  color: #10bd7b;
  font-weight: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.infoa{
  font-size: 15px;
  font-family: FLCorp-Docs;
}

.v2-txt{
  color: #6c0000;
  font-size: 0.75em;
}

.v2txt{
  color: #410000;
  font-size: 0.5em;
}

.bigflc{
  color: #10bd7b;
}

.news-button{
  text-align: center;
}

.little-r{
  font-size: 0.5em;
  text-decoration: none;
  color: #fff;
}

.maj-txt{
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titrebox {
  color: #fff;
  font-family: FLCorp-Docs;
  font-size: 75px;
  text-shadow: 10px 10px 20px black;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

.titrebox2 {
  background-color: rgba(3, 3, 3, 0.562);
  backdrop-filter: blur(10px);
  margin: 0 auto;
  border-radius: 15px;
  width: 50%;
}

.sec1 .omglet{
  position: relative;
  margin-bottom: 40px;
  margin: 0 auto;
  justify-content: space-between;
  width: 570px;
  height: 120px;
}

.sec1 .omglet ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: auto;
  padding: 0px;
  position: relative;
}

.sec1 .omglet ul a {
  margin: 0 20px;
}

.sec1 {
  margin-bottom: 50px;
  position: relative;
}

.sec1 .omglet button {
  position: relative;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  background-color: #181717;
  border: 3px solid #fff;
  font-size: 1.7em;
  font-family: FLCorp-Docs;
  color: #fff;
  z-index: 2;
  transition: 0.2s;
  overflow: hidden;
  box-shadow: #310000 -5px 5px 20px;
}

.sec1 .omglet button:hover {
  color: white;
  width: 180px;
  cursor: pointer;
  font-size: 2em;
}

.sec1 .omglet button::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 180px;
  background-color: #fff;
  top: -2px;
  left: -2px;
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}

.sec1 .omglet button:hover::before {
  transform: translate(0%);
  transition: 0.2s;
}

.sec1 .omglet button:hover {
  color: white;
}

.sec1 .omglet button i {
  transform: scale(0);
  margin: -10px;
  transition: 0.3s;
}

.sec1 .omglet button:hover i {
  transform: scale(5);
  margin-left: 20px;
}
/*Boutton d'Abonnement*/
.sec1 .omglet .donation {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: auto;
  padding: 0px;
  position: relative;
}

.sec1 .omglet .donation, .a {
  margin: 0 0px;
}

.sec1 {
  margin-top: 350px;
  position: relative;
}

.sec1 .omglet .donation-btn {
  position: relative;
  height: 50px;
  width: 245px;
  border-radius: 10px;
  background-color: #181717;
  border: 3px solid #db8720;
  font-size: 1.4em;
  font-family: FLCorp-Docs;
  color: #db8720;
  z-index: 2;
  transition: 0.2s;
  overflow: hidden;
  box-shadow: #312100 -5px 5px 20px;
}

.sec1 .omglet .donation-btn:hover {
  color: white;
  width: 265px;
  cursor: pointer;
  font-size: 1.5em;
}

.sec1 .omglet .donation-btn::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 265px;
  background-color: #db8720;
  top: -2px;
  left: -2px;
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}

/*Bouton de la Flcorporation*/
.sec1 .omglet .donation {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: auto;
  padding: 0px;
  position: relative;
}

.sec1 .omglet .donation, .a {
  margin: 0 0px;
}

.sec1 {
  margin-top: 350px;
  position: relative;
}

.sec1 .omglet .flc-btn {
  position: relative;
  height: 50px;
  width: 530px;
  border-radius: 10px;
  background-color: #181717;
  border: 3px solid #2320db;
  font-size: 1.7em;
  font-family: FLCorp-Docs;
  color: #2320db;
  z-index: 2;
  transition: 0.2s;
  overflow: hidden;
  box-shadow: #000231 -5px 5px 20px;
}

.sec1 .omglet .flc-btn:hover {
  color: white;
  width: 610px;
  right: 40px;
  cursor: pointer;
  font-size: 2em;
}

.sec1 .omglet .flc-btn::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 610px;
  background-color: #2320db;
  top: -2px;
  left: -2px;
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}


.sec1 .omglet .flc-btn:hover::before {
  transform: translate(0%);
  transition: 0.2s;
}

.sec1 .omglet .flc-btn:hover {
  color: white;
}

.sec1 .omglet .flc-btn i {
  transform: scale(0);
  margin: -10px;
  transition: 0.3s;
}

.sec1 .omglet .flc-btn:hover i {
  transform: scale(5);
}

/*Bouton du Chill Mode*/
.sec1 .omglet .donation {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin: auto;
  padding: 0px;
  position: relative;
}

.sec1 .omglet .donation, .a {
  margin: 0 0px;
}

.sec1 {
  margin-top: 350px;
  position: relative;
}

.sec1 .omglet .flc-btn-b {
  position: relative;
  height: 50px;
  width: 530px;
  border-radius: 10px;
  background-color: #171817;
  border: 3px solid #20db4c;
  font-size: 1.7em;
  font-family: FLCorp-Docs;
  color: #20db4c;
  z-index: 2;
  transition: 0.2s;
  overflow: hidden;
  box-shadow: #00311a -5px 5px 20px;
}

.sec1 .omglet .flc-btn-b:hover {
  color: white;
  width: 610px;
  right: 40px;
  cursor: pointer;
  font-size: 2em;
}

.sec1 .omglet .flc-btn-b::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 610px;
  background-color: #20db52;
  top: -2px;
  left: -2px;
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}


.sec1 .omglet .flc-btn-b:hover::before {
  transform: translate(0%);
  transition: 0.2s;
}

.sec1 .omglet .flc-btn-b:hover {
  color: white;
}

.sec1 .omglet .flc-btn-b i {
  transform: scale(0);
  margin: -10px;
  transition: 0.3s;
}

.sec1 .omglet .flc-btn-b:hover i {
  transform: scale(5);
}



.sec1 .liste1 { 
  background-color: rgba(66, 65, 65, 0.562);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  margin: 20px;
  position: relative;
}

.sec1 .liste1 .categorie1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  position: relative;
  width: 400px;
  text-align: left;
  padding: 10px 0px 0px 10px;
}
.popup2 {
  color: white;
  font-family: FLCorp-Docs;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: #030028;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: none; /* Masquer par défaut */
  z-index: 1000;
}

@media screen and (max-width : 1920px){
  .sec1 .liste1 img {
      height: 12%;
      width: 12%;
      border-radius: 5px;
      box-shadow: #000000 -5px 5px 20px;
      margin: 20px;
      cursor: pointer;
  }
}

@media screen and (max-width : 1100px){
  .sec1 .liste1 img {
      height: 20%;
      width: 20%;
      border-radius: 5px;
      box-shadow: #000000 -5px 5px 20px;
      margin: 20px;
  }
}

.sec1 .liste2 { 
  background-color: rgba(66, 65, 65, 0.562);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  margin: 20px;
  position: relative;
}

.sec1 .liste2 .categorie2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  position: relative;
  width: 400px;
  text-align: left;
  padding: 10px 0px 0px 10px;
}

@media screen and (max-width : 1920px){
  .sec1 .liste2 img {
      height: 12%;
      width: 12%;
      border-radius: 5px;
      box-shadow: #000000 -5px 5px 20px;
      margin: 20px;
  }
}

@media screen and (max-width : 1100px){
  .sec1 .liste2 img {
      height: 20%;
      width: 20%;
      border-radius: 5px;
      box-shadow: #000000 -5px 5px 20px;
      margin: 20px;
  }
}

::-webkit-scrollbar {
  background-color: rgba(0, 132, 255, 0);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 50px;
  
}
::-webkit-scrollbar {
  width: 10px;
}